---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import WeatherWidget from '../components/WeatherWidget.astro';
import Categories from '../components/Categories.astro';
import Map from '../components/Map.astro';
---

<Layout title="Toledo, Norte de Santander - Turismo">
  <main>
    <Hero />
    <WeatherWidget />
    <Categories />
    <Map 
      latitude={7.3139}
      longitude={-72.4828}
      zoom={13}
      title="Ubicación de Toledo"
      description="Toledo, Norte de Santander, Colombia"
    />
  </main>
</Layout>