---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import WeatherWidget from "../components/WeatherWidget.astro";
import Categories from "../components/Categories.astro";
import Map from "../components/Map.astro";
---

<Layout title="Toledo, Norte de Santander - Turismo">
  <main>
    <Hero />
    <Categories />
    <WeatherWidget />
    <Map
      title="Ubicación de Toledo, Norte de Santander"
      description="Un vistazo a la ubicación de Toledo en Google Maps"
      link="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31731.804783423235!2d-72.50118368016653!3d7.310972074070312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e664598e8463f3f%3A0x618a7bfe2c1d3506!2sToledo%2C%20Norte%20de%20Santander!5e0!3m2!1ses!2sco!4v1637000000000!5m2!1ses!2sco"
    />
  </main>
</Layout>
