---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import WeatherWidget from "../components/WeatherWidget.astro";
import Categories from "../components/Categories.astro";
import Map from "../components/Map.astro";
---

<Layout title="Toledo, Norte de Santander - Turismo">
  <main>
    <Hero />
    <WeatherWidget />
    <Categories />
    <Map
      title="Ubicación de Toledo, Norte de Santander"
      description="Un vistazo a la ubicación de Toledo en Google Maps"
    />
  </main>
</Layout>
